# Unity folders
[Bb]uild/
[Ll]ibrary/
[Oo]bj/
[Tt]emp/

# VS/MD files
*.booproj
*.csproj
*.pidb
*.sln
*.suo
*.tmp
*.unityproj
*.user
*.userprefs

# Unity meta files
*.meta
*.pidb.meta

# Unity crash reports file
sysinfo.txt

# Mac shit
.DS_Store
